<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table{
        width: 500px;
        height: 400px;
        color: mistyrose;
        align-content: center;
    }


</style>
<body>
    <table border="2px"  >
      <tr><td bgcolor="black"> </td></tr>
        <tr><td bgcolor="white" height="10px"></td></tr>
        <tr><td bgcolor="red"></td></tr>
       <tr><td bgcolor="white" height="10px"></td></tr>
       <tr><td bgcolor="green"></td></tr>
<img src="../static/images/s.png " height="300px"  alt="kenya">

    </table>

</body>
</html>

\*btn is a class usetemplates/index.html:10d to give meaningful colours to links*/
btn gives the button fill
