<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header>
<div class="container">
<header>
<center>
<img src="../static/images/a.jpeg" alt="chocolate" width="100%" height="400">
<a href="/">Home</a>-
<a href="products">Products</a> -
<a href="services">Services</a> -
<a href="contact">contact us</a>
    <br><br>
    <h1 style="text-align: center">CHOCOLAND</h1>
</center>
</header>
</div>

<div class="container">
    {% block  content%}

    {% endblock %}

</div>
</body>
</html>

