<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>

</head>
<body>

{% extends 'layout.html' %}
{% block content %}
<h2>

<ul type="square">
    <li> cakes</li>
    <li>cookies</li>
    <li>cakes</li>
    <li>more cookies</li>
</ul></h2>

<dl>

    <dt><b>latest news</b></dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem quidem quos repellendus reprehenderit temporibus voluptates. A doloremque, esse fugit, harum illo, libero minus molestias natus pariatur perspiciatis quaerat sit!</dd>
    <dt><b>sales</b></dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem quidem quos repellendus reprehenderit temporibus voluptates. A doloremque, esse fugit, harum illo, libero minus molestias natus pariatur perspiciatis quaerat sit!</dd>
    <dt><b>offers</b></dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem quidem quos repellendus reprehenderit temporibus voluptates. A doloremque, esse fugit, harum illo, libero minus molestias natus pariatur perspiciatis quaerat sit!</dd>
    <dt><b>recipes</b></dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem quidem quos repellendus reprehenderit temporibus voluptates. A doloremque, esse fugit, harum illo, libero minus molestias natus pariatur perspiciatis quaerat sit!</dd>

</dl>
{% endblock %}
</body>
</html>